input {
    display: block;
    text-align: center;
    
    margin: 10px auto;
    line-height: 50px;
    text-align: right;
    border-radius: 12px;
    border: 1px dashed red;
    outline: none;
    box-shadow: 1px 1px 10px salmon;
}
label {
    display: block;
    text-align: center;
    margin: 5px;
}
