.fetsch-header {
    text-align: center;
    margin: 35px 35px;
    padding: 15px;
    background-color: blanchedalmond;
    box-shadow: 1px 1px 12px blanchedalmond;
    color: #000;
    border-radius: 15px;
    letter-spacing: 1px;

    display: flex;
    
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.fetsch-header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
    margin: 20px;
}



