.fetsch-header {
    text-align: center;
    margin: 15px;
}


.imgsection{
    margin: 10px 0;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    

    width: 100%;
    height: 30vh;
    object-fit: cover;
}