.karton{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: aliceblue;
    color: black;
    opacity: .5;
    border: 3px dashed red;
}